

body {text-align: center; margin: 0; padding:0; font-family: 'Merriweather', serif; line-height: 1.5; box-sizing: border-box;}
hr {margin: 0; display: block; }
li {list-style: none; }
a {text-decoration: none; color: inherit; }
a:hover {text-decoration: none; color: inherit;}
hr { }
img {width:200px; margin: 0;}
i {padding-right: 5px;  }

h1,h2 {color:#b2d9d2; font-family: 'Montserrat', sans-serif; }
h3 {color:#b2d9d2; font-family: 'Montserrat', sans-serif; font-weight: bold; }
h4 {color:#4a746e; font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 1.5rem; }
h5 {color:#4a746e; font-family: 'Montserrat', sans-serif; font-size: 1.5rem;}


/*-------- Generali ------*/

/*Colori e sfondi*/

.c1 {color: #b2d9d2;}
.bc1 {background-color: #b2d9d2;}

.c2 {color: #e0fcfa;}
.bc2 {background-color: #e0fcfa;}

.c3 {color: #fff;}
.bc3 {background-color: #fff;}

.c4 {color: #c22f2f;}
.bc4 {background-color:  #c22f2f;}

.c5 {color: #4a746e;}
.bc5 {background-color:#4a746e;}

/*testi*/

.sacramento {font-family: 'Sacramento', serif; font-size: 2rem;}
.bold {font-weight: bold; }
.underline {text-decoration: underline; }

/*spazi*/

.section-space {margin: 0;  padding: 5rem 0 5rem 0;  box-sizing: content-box; clear: left; }
.inline {display: inline-block; }
.text-box {margin-top: 30px; margin-bottom: 30px;}
.box {}
.text-left {text-align: left; position: relative; margin: 0 auto; }
.row {margin: 0; padding: 0; }

/*--------- Cover --------*/

/*-- Nav -- */

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Sacramento";
  font-size: 2.5rem;
  font-weight: bold;
  color: #4a746e;
  padding: 2% 5%;
  margin: 2% 3%;
  width: 15%;
}

.nav-item {padding: 0 18px;}

.nav-link {font-family: "Montserrat"; font-size: 1.2rem; }

.nav{margin: 0 auto; padding-top: 1%;}
.nav-portfolio {float: left; padding-top: 1%; margin: 0 auto 0 100px; }
.nav-item {color: #e0fcfa; display: inline-block; padding-right: 1rem; padding-left: 1rem;  }
.nav-item:hover {color: #fff;}
.nav-contatti {font-size: normal;}
.nav-contatti:hover{font-weight: bold; }
.portfolio-item {border: solid 2px #fff;  border-radius: 10px;  background-color:#b2d9d2;  color: #e0fcfa; box-sizing: content;  }
.portfolio-item:hover{color: #fff;}
.nav-img-box {width: 20%;}

/* cover */

.cover {height: 48rem;}
.cover-container {padding-top: 6rem; }
.title-section {}
.title {font-size: 2.8rem;}
.subtitle { font-family: 'Sacramento', serif; font-size: 2rem;}
.img-cover {display: block; margin: 0 auto 0 auto; width: 25%; box-sizing: border-box; }

/*---------Istruzione -------*/

.formazione {background-image: url("images/campus.jpg"); background-position: center center; width:100%;}
.formazione-text {width: 45%; font-size: 15px; text-align: left; padding-left: 3%;}

.istruzione {width: 70%; margin: 100px auto 100px auto; text-align: left;}
.titolo-istruzione {text-align: center;}
.lista-istruzione li {list-style: none; clear: left; text-align: left; padding-left: 20%; padding-right: 20%;}
.istruzione-img {width: 5%; position:relative; margin-bottom: 3.5%;}
.istruzione-img2 {width: 10%; position: relative;}
.titolo-formazione {position: absolute;  padding-top: 20px;}
.titolo-istruzione {padding-right: 200px;}
.li-style {width: 15px;  }

/*--------Interessi --------*/

.content {box-sizing: border-box; padding: 3rem; margin: 1rem 0 7rem 0;}
.sec-interessi {width: 100%; box-sizing: border-box;}
.interessi {width: 50%; display: inline-block; float: left; box-sizing: border-box; padding: 1.5rem; }
.img-interessi {width: 10rem; }

.portfolio-button {border: solid 2px #4a746e; background-color: #e0fcfa; color: #4a746e; font-size: 1rem; border-radius: 9px; width: 25%; height: 5%; margin: 1em auto;   }

/*-------- Certificazioni ------*/

#certificazioni {background-color: #e0fcfa; }
.certificazioni {clear: left; }
.tab-certificazioni {padding: 20px; margin: 0 auto; }

/*------- Altri lavori --------*/
.lista-lavori {list-style: inside; text-align: left; margin-left: 25%; padding: 0.7%;  }


/*-------- About ------*/

.about {padding-left: 3rem; padding-right: 3rem;}
.me-img{width: 80%; border-radius: 100%;  margin: 6rem auto; padding-left: 60px; }
.hobby-item {display: inline-block; padding-right: 2.5rem;  }
.hobby {padding-top: 2rem; }
.me-img-mobile{display: none; }

/*-------- CV-------------*/
.cv-section {margin-top: 0.5rem; margin-bottom: 2rem; }
/*-------- Contatti -------------*/

.contatti {margin: 0; }
.contatti-item {display: inline-block; padding: 2rem 2rem ; color: #e0fcfa;  }
.contatti-item:hover {color: #fff;}

/*-------------------------------*/
/*-------- Portfolio -----------*/

.navbar-toggler {margin: 2%; }
.nav-barra {}
.nav-item-portfolio {color: #e0fcfa; display: inline-block; padding-right: 2.5rem; padding-left: 2.5rem;  }
.img-cover-portfolio { position: absolute;  width: 15%; margin-left: -150px; margin-top: -80px;  }
.cover-portfolio {}
.navbar-brand {}

.logo-portfolio {width: 40px; }

.titolo-potfolio-mobile {display: none; font-weight: 900; margin-top: 3rem; }

.content-portfolio {border: solid 1px #4a746e; margin: 5% auto; box-sizing: content-box; padding: 5%;    }
.sezione-titolo {margin-bottom: 100px;}
.titolo-progetti {font-size: 3rem;   }
.titolo-punti {padding-bottom: 20px; }
.sottotitolo-progetti {margin-bottom: 3rem; }
.box-testo {float: left; text-align: left; width: 40%; box-sizing: border-box;  }
.img-progetto {width: 40%; }

.punti-progetto {padding: 0.5rem; font-weight: inherit; }

.chi_siamo_video {width:45%; margin: 5%; }

/*media query*/

@media (max-width: 800px){
  .img-cover {width: 40%;}
}

@media (max-width: 1000px){

.interessi {width: 100%; display: block; clear: left;}
.me-img {display: none;  }
.me-img-mobile {display: block; width: 30%; border-radius: 100%;  margin: 20px auto;}
.istruzione-img {display: none; }
.formazione-text {width: 80%; }

.portfolio-button {width: 50%; }
.hobby-item {display: block;}
.chi_siamo_video {width: 80%; }
.elenco-punti {width: 80%; }
.img-cover-portfolio {display: none; }
.navbar-brand {display: none; }
.titolo-potfolio-mobile {display: block; }

}
